<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.researchpoject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.researchpoject.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.example.researchpoject.FragmentStaticUseActivity"
            ></activity>
        <activity 
            android:name="com.example.researchpoject.FragmentJumpActivity"
            ></activity>
        <activity 
            android:name="com.example.researchpoject.FragmentDialogActivity"
            ></activity>
        <activity 
            android:name="com.example.researchpoject.AsynTaskAndProgressDialogActivity"
            ></activity>
        <activity 
            android:name="com.example.researchpoject.SavedInstanceStateUsingActivity"
            ></activity>
        <activity 
            android:name="com.example.researchpoject.FragmentRetainDataActivity"
            ></activity>
        <activity 
            android:name="com.example.researchpoject.ConfigChangesTestActivity"
            android:configChanges="screenSize|orientation"
            ></activity>
         <activity 
            android:name="com.example.researchpoject.FixProblemActivity"
            ></activity>
        
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
